@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    padding: 0; 
    margin: 0; 
}

body{
    scroll-behavior: smooth;
    /* background-image: url("./asset/givrage.jpeg");   */
    background-size: cover;
    background-position:top; 
    background-repeat: no-repeat;

}

li{

    list-style-type: none;
}

a{
    text-decoration: none;
}


.nav{
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    /* background-color: rgba(0, 255, 255, 0); */
    background-color: rgba(237, 242, 255, 0.416);
    transition: width 0.5s, height 1s, background-color 0.4s, transform 0.5s;
    z-index: 100000;

}

.nav li{
    color : black; 
}

.nav:hover{
    background-color: rgba(237, 242, 255, 0.416);
    box-shadow: 2px 8px 32px rgba(91, 88, 88, 0.21);
}

.all{
    
    /* height: 350vh; */
    height: auto; 

}

.logo{
    
    width: 200px;
    height: 100px;

    margin-left: 20px;
    margin-bottom: 70px;
    background-image: url("./asset/Logo_ENSEIRB-MATMECA-Bordeaux_INP.svg.png");  
    background-size: cover;
    background-repeat: no-repeat;

}

.milieu{
    display: flex;
    flex-direction: row;
}

.milieu li{
    font-family: 'Poppins', sans-serif;

}

.milieu .normal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    margin : 5px 50px; 
    padding: 8px 9px;
    border-radius: 20px 0px 20px 0px;
    transition: width 0.5s, height 1s, background-color 0.4s, transform 0.5s;

}

.particulier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    margin : 5px 50px; 
    border-radius: 20px 0px 20px 0px;
    padding: 8px 18px;
    transition: width 0.5s, height 1s, background-color 0.9s, transform 0.5s;

    
}

.milieu ul:hover{
    background-color: rgba(113, 113, 113, 0.569);

}

.trait{
    background-color: black;
    height: 2px;
    width: 50px;
}



.logo_2{
    display: flex;
    flex-direction: row;
}




.logo_art{
    width: 150px;
    height: 70px;
    margin-left: 30px;
    margin-bottom: 20px;
    background-image: url("./asset/Inr_logo_fr_rouge.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
}


.titre_partie{
    padding-top: 70px;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold; 
    width: 100%;  
    height: 200px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 40px;  
    text-transform: uppercase; 
    color:#000651;

    background-color: eaeaea36; 

    /* background-color: black;  */
}




.titre_photo{
    width: 100%;  
    height: 500px;
    background-image: url("./images/processeur.jpeg");  
    background-size: cover;
    background-position:center; 
    background-repeat: no-repeat;

}


.titre_photo-1{
    width: 100%;  
    height: 500px;
    background-image: url("./asset/avion.jpg");  
    background-size: cover;
    background-position:center; 
    background-repeat: no-repeat;

}

.trait-niveau{

    display: flex; 
    justify-content: center; 
    align-content: center; 
    width: 100%;  
    height: 50px;

}

.trait-intro{

    margin-top: 60px; 
    width: 50%;  
    height: 2px;
    background-color:#00000014;  
}




.contenu-1{

    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    margin-top: 30px; 
    height: 100px; 
    width: 90%; 
    
}

.contenu{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    margin-top: 30px; 
    height: 100px; 
    width: 100%; 
    
}


.contenu-2{
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    height: 100px; 
    width: 100%; 
    
}


.ecrire-1{

    display: flex; 
    flex-direction: column; 
    align-content: center;
    height: 100px;
    width: 80%; 
    font-family: "Poppins", sans-serif; 
}

.ecrire{

    display: flex; 
    flex-direction: column; 
    align-content: center;
    height: 600px;
    width: 40%; 
    font-family: "Poppins", sans-serif; 

}


.ecrire-3{
    display: flex; 
    flex-direction: column; 
    align-content: center;
    height: 600px;
    width: 600px; 
    font-family: "Poppins", sans-serif; 

}

th, td {
    border: 1px solid black; /* Ajustez les bordures selon vos besoins */
    padding: 8px; /* Ajustez la marge intérieure selon vos besoins */
    text-align: center; /* Centre le texte dans les cellules */
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 750px;
    width: 600px;

}

.image-1{
    margin-top: 200px;
    height: 300px;
    width: 500px;
}


.image-2{
    margin-top: 130px;
    height: 300px;
    width: 500px;
}


.legende-1{
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 18px;
    
}

.legende-2{
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 18px;
    
}


.legende{
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    width: 500px;
    font-size: 18px;
    text-align: center;
    
}


.image-3{
    height: 300px;
    width: 80%; 
    /* background-image: url("./images/speed_up_50iter.png");   */
    background-size: cover;
    z-index: 1000;
}

.image-4{
    height: 300px;
    width: 80%; 
    /* background-image: url("./images/efficiency_50iter.png");   */
    background-size: cover;
    z-index: 1000;
}


.trait-fin{

    height: 2px; 
    width: 100%; 
    margin-top: 20px; 
    background-color:#00000014;  

}



.bas{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: fixed;  */
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 150px; 
    background: lightgrey; 
    box-shadow: -4px -12px 63px -29px rgba(0, 0, 0, 0.4); 

}

.suivant{

    font-family: "Poppins", sans-serif;
    font-size: 17px;
    margin-right: 550px;
    padding-bottom: 5pxx;
    color: black;
    transform: translatey(-3px);
    text-decoration: underline;
}

.fleche{
    margin-right: 10px;
    transform: rotate(180deg);
    height: 20px;
    width: 20px;
}

.fleche_gauche{
    transform: rotate(180deg);
    margin-top: 3px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.test{
    display: flex; 
}

.gras{
    font-weight: bold;
}

.first{

    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 200px; 
    width: 100%; 
    /* background-color: black;  */

}

.first-1{

    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 200px; 
    width: 100%; 
    /* background-color: black;  */

}

.first-2{


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 900px;
    width: 100%;
    margin-bottom: 30px;
}

.first-2 div{

    margin: 0px 70px; 
}
